<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
     
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="">
            </a>
            <h3 class="header_title">LA COLLECTION PRIVÉE CHRISTIAN DIOR</h3>
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_item">
                        <a href="#" class="menu_link">WOMEN'S FRAGRANCE</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">MEN'S FRAGRANCE</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">MAKEUP</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">SKINCARE</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_link">DIOR SPA</a>
                    </li>
                </ul>
            </nav>
            <ul class="user_nav">
                <li class="user_nav_item">
                    <a href="" class="user_nav_link">
                        <img src="images/favorites.svg" alt="like">
                    </a>
                </li>
                <li class="user_nav_item">
                    <a href="" class="user_nav_link">
                        <img src="images/cart.svg" alt="basket">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<section class="top">
        <!-- Slider main container -->
    <div class="top_swiper swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="top_slide">
                <div class="container">
                    <div class="top_slide_inner">
                        <img src="images/slider-top/slider-1.jpg" alt="">
                        <div class="top_slide_content">
                            <h1 class="top_slide_title">
                                GRIS DIOR
                            </h1>
                            <p class="top_slide_subtitle">
                                Fragrance
                            </p>
                            <p class="top_slide_text">
                                With Gris Dior you dare to reveal your most surprising, mysterious and unexpected facets.
                            </p>
                            <a href="#" class="top_slide_btn button">
                                DISCOVER
                            </a>
                        </div>
                        <img src="images/slider-top/slider-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="top_slide" style="background-image: url(images/slider-top/slide-bg-1.jpg);">
                <div class="container">
                    <div class="top_slide_inner">
                        <a href="#" class="top_slide_btn button">
                            YOUR NEW EXPERIENCE 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="top_slide" style="background-image: url(images/slider-top/slide-bg-2.jpg);">
                <div class="container">
                    <div class="top_slide_inner">
                        <a href="#" class="top_slide_btn button">
                            YOUR NEW EXPERIENCE
                        </a>
                    </div>
                </div>
            </div>
        </div>
        ...
      </div>
      
      <div class="container container-arrow">
        <div class="swiper-button-prev">
            <img src="images/arrow-left.svg" alt="">
          </div>
          <div class="swiper-button-next">
            <img src="images/arrow-right.svg" alt="">
          </div>
      </div>

    </div>
</section>
<section class="about">
    <div class="container">
        <div class="about_inner">
                <div class="about_title">
                    DARE IN 
                    GRIS DIOR
                </div>
                <div class="about_textbox">
                    <div class="about_text">
                        <p>
                            Gris Dior is the olfactory expression of gray, the iconic color of the House of Dior that embodies the bold spirit of Christian Dior.
                        </p>
                        <p>
                            A unisex eau de parfum that defies gender, Gris Dior is an intense chypre fragrance that makes a strong, recognizable statement, a fragrance you adopt and interpret to suit your own rules.
                        </p>
                        <p>
                            Gris Dior uninhibitedly combines heritage with a modern twist and plays the unisex card with confidence. It is multifaceted and not as obvious as it seems, like the color gray, richly nuanced with its subtleties, anything but a simple mix of black and white.
                        </p>
                    </div>
                    <div class="about_text about_text--bold">
                        <p>
                            A backdrop for all desires, revealing all shades: dare to go gray with Gris Dior. 
                        </p>
                        <p>
                            A bold embodiment of this elusive color, Gris Dior is a light chypre fragrance that has become an icon, an unexpected master of the game. Both a fragrance for women and a fragrance for men, its unisex trail invites uninhibited expression today.
                        </p>
                    </div>
                </div>

                <div class="about_slider swiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <div class="about_item">
                        <h4 class="about_item_title">
                            DISCOVER GRIS DIOR
                        </h4>
                        <img src="images/about-slider/1.jpg" alt="">
                    </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about_item">
                            <h4 class="about_item_title">
                                DARE TO RISK IT
                            </h4>
                            <img src="images/about-slider/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about_item">
                            <h4 class="about_item_title">
                                FEEL THE FLAVOUR
                            </h4>
                            <img src="images/about-slider/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about_item">
                        <h4 class="about_item_title">
                            DISCOVER GRIS DIOR
                        </h4>
                        <img src="images/about-slider/4.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about_item">
                            <h4 class="about_item_title">
                                DARE TO RISK IT
                            </h4>
                            <img src="images/about-slider/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about_item">
                            <h4 class="about_item_title">
                                FEEL THE FLAVOUR
                            </h4>
                            <img src="images/about-slider/2.jpg" alt="">
                        </div>
                    </div>
                    </div>
                    <div class="container-arrow about_arrow">
                        <div class="swiper-button-prev">
                            <img src="images/arrow-left.svg" alt="">
                        </div>
                        <div class="swiper-button-next">
                            <img src="images/arrow-right.svg" alt="">
                        </div>
                    </div>
                </div>
                <a href="#" class="about_btn button">
                    SHOW ME MORE
                </a>
        </div>
    </div>
</section>
<div class="accordion">
    <div class="container">
        <div class="accordion_inner">
            <div class="accordion_item">
                <div class="accordion_triger">
                    <p class="accordion_triger_title">
                        DESCRIPTION
                    </p>
                    <p class="accordion_triger_text">
                        Gris Dior is the olfactory expression of gray, the iconic color of the House of Dior that embodies the bold spirit of Christian Dior.
                    </p>
                </div>
                <div class="accordion_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                </div>
              
            </div>
            <div class="accordion_item">
                <div class="accordion_triger">
                    <p class="accordion_triger_title">
                        PERFUMER'S WORD
                    </p>
                    <p class="accordion_triger_text">
                        "What if the Dior gray were a fragrance? This emphatic gray is not merely a mix of black and white, but the result of a chromatic blend.”
                    </p>
                </div>
                <div class="accordion_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                </div>
               
            </div>
            <div class="accordion_item">
                <div class="accordion_triger">
                    <p class="accordion_triger_title">
                        APPLICATION TIPS
                    </p>
                    <p class="accordion_triger_text">
                        Spray Gris Dior on pulse points: neck and wrists.
                    </p>
                </div>
                <div class="accordion_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                </div>
               
            </div>
            <div class="accordion_item">
                <div class="accordion_triger">
                    <p class="accordion_triger_title">
                        INGREDIENTS
                    </p>
                   
                </div>
                <div class="accordion_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, accusamus vitae.
                         Dignissimos ullam sed, adipisci consequatur minima veritatis odio tempora odit nobis, fuga cum aut commodi quidem aliquam perspiciatis quaerat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="products_inner">
            <p class="products_title">WHAT ELSE?</p>
            <div class="products_items">
                <div class="products_item">
                    <p class="product_item_step">01 INITIATE THE OLFACTORY RITUAL</p>
                    <img class="products_item_img" src="images/products/1.jpg" alt="">
                    <p class="product_item_name">
                        <span>GRIS DIOR</span>
                        Hand and Body Lotion
                    </p>
                    <p class="product_item_price">
                        87€
                    </p>
                </div>
                <div class="products_item">
                    <p class="product_item_step">02 CONTINUE THE RITUAL</p>
                    <img class="products_item_img" src="images/products/2.jpg" alt="">
                    <p class="product_item_name">
                        <span>GRIS DIOR</span>
                        Unisex Eau de Parfum 
                    </p>
                    <p class="product_item_price">
                        265€
                    </p>
                </div>
                <div class="products_item">
                    <p class="product_item_step">03 ADD THE FINISHING TOUCH</p>
                    <img class="products_item_img" src="images/products/3.jpg" alt="">
                    <p class="product_item_name">
                        <span>GRIS DIOR</span>
                        Hair Perfume
                    </p>
                    <p class="product_item_price">
                        102€
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_top">
                <a href="#" class="footer_logo">
                    <img src="images/logo.svg" alt="">
                </a>
                <img src="images/footer-decor.jpg" alt="" class="footer_img">
                <div class="footer_items">
                    <div class="footer_item">
                        <h5 class="footer_item_title">
                            SIGN UP FOR EXCLUSIVITY 
                        </h5>
                        <form action="#" class="footer_item_form">
                            <input class="footer_item_input" type="email" placeholder="E-mail">
                            <button class="footer_item_btn" type="submit">
                                <img src="images/arrow-right.svg" alt="">
                            </button>
                        </form>
                    </div>
                     <div class="footer_item">
                        <h5 class="footer_item_title">
                            FIND A BOUTIQUE
                        </h5>
                        <ul class="footer_item_list">
                            <li>
                                <a href="#" class="footer_item_link">
                                    Parfums Christian Dior Boutiques
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer_item_link">
                                    Christian Dior Couture Boutiques
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_item">
                        <h5 class="footer_item_title">
                            CLIENT SERVICES
                        </h5>
                        <ul class="footer_item_list">
                            <li>
                                <a href="#" class="footer_item_link">
                                    Contact Parfums Christian Dior
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer_item_link">
                                    Delivery & Returns
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer_item_link">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="footer_social_list">
                    <li class="footer_social_item">
                        <a href="#" class="footer_social_link">
                            <img src="images/social/youtube.svg" alt="">
                        </a>
                    </li>
                    <li class="footer_social_item">
                        <a href="#" class="footer_social_link">
                            <img src="images/social/twiter.svg" alt="">
                        </a>
                    </li>
                    <li class="footer_social_item">
                        <a href="#" class="footer_social_link">
                            <img src="images/social/facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="footer_social_item">
                        <a href="#" class="footer_social_link">
                            <img src="images/social/instagram.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav">
                <ul class="footer_nav_list">
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            Legal Terms and Conditions
                        </a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            Data Protection
                        </a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            Personalize my choices
                        </a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            General Sales Conditions
                        </a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            Ethics & compliance
                        </a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="#" class="footer_nav_link">
                            Careers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>